.section-header
    +leader

.trailer 
    +trailer

.double-trailer
    +trailer(2)

.no-trailer 
    margin-bottom: 0

.tight 
    margin-bottom: 0.5em

.float-left
    float: left

.float-right
    float: right

%clearfix
    &:after, &:before
        content: " "
        display: table
    &:after
        clear: both
    
